<div class="main-container">
  <div class="carousel-container">
    <div
      class="carousel"
      [style.transform]="'translateX(' + -currentIndex * cardWidth + 'px)'"
    >
      <div class="card" *ngFor="let item of slides">
        <img [src]="item.image" alt="Card Image" />
      </div>
    </div>
  </div>
  <button class="prev" (mouseenter)="slide_active = false" (mouseleave)="slide_active = true" (click)="prev()"><i class="fa-solid fa-chevron-left"></i></button>
  <button class="next" (mouseenter)="slide_active = false" (mouseleave)="slide_active = true" (click)="next()"><i class="fa-solid fa-chevron-right"></i></button>
</div>
