<nav class="navbar d-flex justify-content-lg-between align-items-center p-3" [ngClass]="{'fixed': isScrolled}">
  <div class="navbar-brand" style="cursor:pointer" (click)="goHome()" >
    Wander<span [ngStyle]="{color:'#2081b4'}"  >Wise</span>


  </div>
  <div class="nav-content mt-2" (mouseleave)="clearHover()">
    <li
      *ngFor="let link of links; let i=index"
      (mouseenter)="onHovered(i)"

      [ngClass]="{'active': isActiveLink(link) || activeIndex == i}"
      [routerLink]="links[i]"
    >{{link}}
    </li>
    <span class="dot" [ngStyle]="{left:getDotPosition(), display: getActiveIndex() == -1 ? 'none' : 'block'}"></span>

  </div>

  <div class="right-nav d-flex align-items-start " style="margin-right:4rem">

    <select style="font-size: 0.9rem; box-shadow: none !important; border: none; " class="lang-switch form-control form-select mx-3 " >
      <option>English</option>
      <option>Arabic</option>
    </select>
    <div class="menu-icon">
      <i class="fa-solid fa-bars" style="font-size: 1.7rem;"></i>
   </div>

      <button *ngIf="!isAuth() else loadProfile" class="sign-btn btn" routerLink="/login">Login</button>
      <ng-template #loadProfile>
        <div class="dropdown " style="margin-right:3.5rem">
          <a class="  dropdown-toggle d-flex justify-content-center align-items-center" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <p-avatar image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png" class="mx-3" size="normal" shape="circle" />

          </a>

          <ul class="dropdown-menu p-0">
            <li><a class="dropdown-item " href="#">Action</a></li>
            <li><a class="dropdown-item " href="#">Another</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item " (click)="handleLogOut()">Log out</a></li>
          </ul>
        </div>
      </ng-template>


  </div>
</nav>
