<aside id="sidebar" class="sidebar">

  <ul class="sidebar-nav" id="sidebar-nav">

    <li class="nav-item">
      <a class="nav-link ">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" >
        <i class="bi bi-menu-button-wide"></i><span>Trips</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="nav-content collapse">
          <li>
          <a >
            <i class="bi bi-circle"></i>
            <small>Add Trip</small>
          </a>
        </li>
        <li>
          <a >
            <i class="bi bi-circle"></i>
            <small>Trip list</small>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" >
        <i class="bi bi-menu-button-wide"></i><span>Reservations</span><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul class="nav-content collapse">
        <li>
          <a >
            <i class="bi bi-circle"></i>
            <small>Add Trip</small>
          </a>
        </li>
        <li>
          <a >
            <i class="bi bi-circle"></i>
            <small>Trip list</small>
          </a>
        </li>
      </ul>
    </li><!-- End Components Nav -->

  </ul>

</aside><!-- End Sidebar-->
